<!-- <app-user-list [users]="users"></app-user-list> -->
<!-- <app-user-list (ev)="handleEv()"></app-user-list> -->
<h1>TEST</h1>
<!-- <div *ngFor="let user of users1" style="margin:10px;">
  <img
    [src]="user.avatar"
    style="width:50px;border-radius:50%;vertical-align:middle;"
  />
  {{ user.name }}
</div>
<div *ngFor="let user of users2" style="margin:10px;">
  <img
    [src]="user.avatar"
    style="width:50px;border-radius:50%;vertical-align:middle;"
  />
  {{ user.name }}
</div>
<div *ngFor="let user of users3" style="margin:10px;">
  <img
    [src]="user.avatar"
    style="width:50px;border-radius:50%;vertical-align:middle;"
  />
  {{ user.name }}
</div> -->